.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card-image {
  max-width: 150px;
}

.detail-card-image {
  max-width: 410px;
  width: 100%;
}


.card-bg {
  background-color: #ECECEC;
  border-radius: 15px;
  max-width: 200px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.detail-card-bg {
  background-color: rgba(226, 226, 226, 0.9);
  position: relative;
  top: -375px;
  border-radius: 15px;
  max-width: 500px;
  padding-top: 30px;
  padding-bottom: 45px;
}

.btn {
  padding: 5px 60px;
  border-radius: 0;
  background-color: #089DD3;
  color: white;
}

.card-bg p {
  font-size: 14px;
}

.container-margin {
  margin-top: 100px;
}

.detail-content {
  font-size: 12px;
}

.discount {
  font-size: 50px;
  color: #089DD3;
}